@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #F2F8F3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F2F8F3;
    --foreground: #ededed;
  }
}

/* @media (width >= 195rem) { 
  .hero-image {
    height: 50vh;
    background-repeat: no-repeat;
  }
} */

/* @media screen and (min-width: 51.25rem) {
  .hero-content {
      gap: 16px;
      grid-column: 1 / -1;
      grid-template-rows: 1fr auto auto auto 1fr auto;
      grid-template-areas:
      "."
      "subtitle"
      "title"
      "description"
      "buttons"
      "."
      "trust ";
      padding: 16px 16px 16px 64px;
  }
  
} */

.hero-section {
  height: 700px;
  max-height: 90vh;
  background-color: rgb(239 202 68 / var(--tw-bg-opacity, 1)) ;
  overflow: hidden !important;
  background-image: url("/hero.png");
  background-repeat: no-repeat;
}

.hero-image {
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
